In [ ]:
import pandas as pd
vacc=pd.read_csv(r"C:\Users\rks91\Downloads\New folder\PytLogistic\Vaccine Usage Prediction\Dataset\h1n1_vaccine_prediction.csv")

In [1]:
((4/9)*(6/10))+((3/8)*(4/10))

0.4166666666666667

In [2]:
48/25

1.92

In [4]:
12/25

0.48

In [5]:
import pandas as pd
cr=pd.read_csv(r"C:\Users\rks91\Downloads\New folder\CreditRisk.csv")# r is for raw

In [6]:
cr.Gender = cr.Gender.fillna('Male')
cr.Married = cr.Married.fillna("Yes")
cr.Dependents = cr.Dependents.fillna(0)
cr.Self_Employed = cr.Self_Employed.fillna('No')
cr.LoanAmount = cr.LoanAmount.fillna(120)
cr.Loan_Amount_Term = cr.Loan_Amount_Term.fillna(360)
cr.Credit_History = cr.Credit_History.fillna(1)

In [7]:
cr.Gender.replace({"Male": 1, "Female": 0}, inplace = True)
cr.Married.replace({"No": 0, "Yes": 1}, inplace = True)
cr.Education.replace({"Graduate" : 1, "Not Graduate": 0}, inplace = True)
cr.Self_Employed.replace({"No": 0, "Yes": 1}, inplace = True)
cr.Property_Area.replace({"Semiurban": 1, "Urban": 2, "Rural": 3}, inplace = True)
cr.Loan_Status.replace({"Y": 1, "N": 0}, inplace = True)

In [8]:
cr=cr.iloc[:,1:]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
cr_train,cr_test=train_test_split(cr,test_size=.2,random_state=555)

In [11]:
cr_train_x=cr_train.iloc[:,0:-1]
cr_train_y=cr_train.iloc[:,-1]
#-----------
cr_test_x=cr_test.iloc[:,0:-1]
cr_test_y=cr_test.iloc[:,-1]

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
dt=DecisionTreeClassifier()

In [16]:
dt.fit(cr_train_x,cr_train_y)

DecisionTreeClassifier()

In [17]:
dt.predict(cr_test_x)

array([1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1],
      dtype=int64)

In [18]:
from sklearn.metrics import confusion_matrix

In [19]:
tab_dt=confusion_matrix(dt.predict(cr_test_x),cr_test_y)

In [20]:
tab_dt

array([[ 39,  22],
       [ 22, 114]], dtype=int64)

In [21]:
tab_dt.diagonal().sum()/tab_dt.sum()

0.7766497461928934

In [22]:
dt.feature_importances_

array([0.01763097, 0.00436254, 0.04467617, 0.00591936, 0.01385105,
       0.25520903, 0.05453786, 0.12416165, 0.03256197, 0.42031154,
       0.02677785])

In [23]:
dt.feature_importances_.sum()

1.0000000000000002

In [24]:
feature_importance=pd.DataFrame({"Feature":cr_train_x.columns,"Importance":dt.feature_importances_})

In [26]:
#feature_importance

In [27]:
feature_importance.sort_values('Importance',ascending=False)

              Feature  Importance
9      Credit_History    0.420312
5     ApplicantIncome    0.255209
7          LoanAmount    0.124162
6   CoapplicantIncome    0.054538
2          Dependents    0.044676
8    Loan_Amount_Term    0.032562
10      Property_Area    0.026778
0              Gender    0.017631
4       Self_Employed    0.013851
3           Education    0.005919
1             Married    0.004363

In [29]:
mp=pd.read_csv(r"C:\Users\rks91\Downloads\New folder\PytLogistic\Decision Tree\Mobile price\trainRF.csv")

In [31]:
#mp.head()

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
mp_train,mp_test=train_test_split(mp,test_size=.2,random_state=555)

In [34]:
mp_train_x=mp_train.iloc[:,0:-1]
mp_train_y=mp_train.iloc[:,-1]
#-----------
mp_test_x=mp_test.iloc[:,0:-1]
mp_test_y=mp_test.iloc[:,-1]

In [35]:
from sklearn.tree import DecisionTreeClassifier
dt_mp=DecisionTreeClassifier()

In [36]:
dt_mp.fit(mp_train_x,mp_train_y)

DecisionTreeClassifier()

In [37]:
dt_mp.predict(mp_test_x)

array([0, 2, 1, 2, 3, 1, 3, 0, 0, 1, 2, 1, 0, 3, 0, 1, 1, 1, 1, 2, 2, 1,
       1, 2, 3, 3, 3, 0, 3, 0, 1, 3, 2, 2, 0, 1, 1, 3, 0, 3, 0, 1, 2, 0,
       0, 0, 0, 1, 1, 2, 1, 2, 2, 2, 3, 3, 0, 3, 2, 3, 1, 3, 0, 0, 2, 1,
       1, 0, 1, 2, 1, 3, 1, 3, 3, 1, 2, 3, 2, 1, 0, 2, 1, 3, 3, 3, 1, 3,
       1, 3, 3, 1, 3, 3, 0, 2, 3, 1, 1, 2, 3, 3, 1, 0, 3, 3, 0, 3, 0, 3,
       3, 2, 3, 1, 3, 1, 0, 2, 2, 2, 0, 2, 0, 3, 3, 0, 0, 0, 3, 1, 0, 3,
       1, 1, 3, 2, 0, 3, 2, 1, 0, 2, 1, 0, 1, 0, 0, 0, 2, 3, 3, 1, 2, 0,
       0, 3, 1, 1, 0, 2, 0, 1, 0, 3, 3, 1, 0, 0, 2, 3, 2, 3, 0, 0, 3, 1,
       2, 1, 1, 1, 1, 2, 2, 0, 1, 0, 1, 0, 0, 2, 1, 2, 0, 2, 3, 3, 2, 1,
       1, 2, 2, 2, 2, 3, 1, 1, 2, 3, 1, 0, 0, 3, 0, 1, 1, 0, 2, 0, 3, 0,
       0, 3, 0, 2, 0, 1, 1, 1, 3, 3, 0, 2, 3, 1, 3, 2, 3, 2, 0, 1, 1, 3,
       2, 0, 1, 3, 0, 2, 0, 2, 2, 1, 2, 1, 3, 2, 3, 2, 2, 0, 1, 2, 2, 1,
       1, 2, 1, 0, 3, 2, 1, 0, 0, 1, 1, 2, 1, 2, 1, 2, 3, 1, 0, 0, 0, 1,
       2, 2, 1, 3, 3, 1, 0, 3, 3, 3, 3, 1, 2, 1, 3, 3, 2, 1, 2, 3, 2, 1,
       3, 3, 2, 0, 1, 1, 2, 3, 3, 2, 3, 0, 3, 1, 3, 2, 1, 3, 2, 0, 0, 3,
       2, 2, 0, 3, 1, 1, 1, 3, 0, 0, 3, 2, 0, 1, 0, 1, 1, 2, 0, 1, 2, 3,
       0, 3, 3, 1, 0, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 0, 1, 1, 2, 1, 1, 3,
       0, 2, 2, 1, 0, 2, 0, 3, 3, 0, 1, 1, 2, 3, 0, 2, 3, 3, 0, 0, 2, 3,
       1, 1, 3, 3], dtype=int64)

In [38]:
from sklearn.metrics import confusion_matrix

In [39]:
tab_dt_mp=confusion_matrix(dt_mp.predict(mp_test_x),mp_test_y)

In [40]:
tab_dt_mp

array([[82, 10,  0,  0],
       [15, 84, 10,  0],
       [ 0,  8, 73, 16],
       [ 0,  0,  6, 96]], dtype=int64)

In [41]:
tab_dt_mp.diagonal().sum()/tab_dt_mp.sum()

0.8375

In [42]:
feature_importance=pd.DataFrame({"Feature":mp_train_x.columns,"Importance":dt_mp.feature_importances_})

In [43]:
feature_importance.sort_values('Importance',ascending=False)

          Feature  Importance
13            ram    0.601572
0   battery_power    0.144910
11      px_height    0.100846
12       px_width    0.065833
8       mobile_wt    0.019113
2     clock_speed    0.015951
16      talk_time    0.009895
6      int_memory    0.009725
10             pc    0.007626
14           sc_h    0.006845
15           sc_w    0.006415
4              fc    0.005935
1            blue    0.002223
9         n_cores    0.002000
7           m_dep    0.001111
5          four_g    0.000000
3        dual_sim    0.000000
17        three_g    0.000000
18   touch_screen    0.000000
19           wifi    0.000000

In [44]:
#------------------------------

In [45]:
mp=pd.read_csv(r"C:\Users\rks91\Downloads\New folder\PytLogistic\Decision Tree\Insurance_suscribe.csv")

In [46]:
cr=pd.read_csv(r"C:\Users\rks91\Downloads\New folder\CreditRisk.csv")# r is for raw
cr.Gender = cr.Gender.fillna('Male')
cr.Married = cr.Married.fillna("Yes")
cr.Dependents = cr.Dependents.fillna(0)
cr.Self_Employed = cr.Self_Employed.fillna('No')
cr.LoanAmount = cr.LoanAmount.fillna(120)
cr.Loan_Amount_Term = cr.Loan_Amount_Term.fillna(360)
cr.Credit_History = cr.Credit_History.fillna(1)
#-----------------------
cr.Gender.replace({"Male": 1, "Female": 0}, inplace = True)
cr.Married.replace({"No": 0, "Yes": 1}, inplace = True)
cr.Education.replace({"Graduate" : 1, "Not Graduate": 0}, inplace = True)
cr.Self_Employed.replace({"No": 0, "Yes": 1}, inplace = True)
cr.Property_Area.replace({"Semiurban": 1, "Urban": 2, "Rural": 3}, inplace = True)
cr.Loan_Status.replace({"Y": 1, "N": 0}, inplace = True)
#---------------------------
cr=cr.iloc[:,1:]
#-------------------------

In [47]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
rfc=RandomForestClassifier()

In [49]:
rfc.fit(cr_train_x,cr_train_y)

RandomForestClassifier()

In [50]:
tab_rfc=confusion_matrix(rfc.predict(cr_test_x),cr_test_y)
tab_rfc

array([[ 33,   8],
       [ 28, 128]], dtype=int64)

In [51]:
feature_importance_rfc=pd.DataFrame({"Feature":cr_train_x.columns,"Importance":rfc.feature_importances_})

In [52]:
feature_importance_rfc.sort_values('Importance',ascending=False)

              Feature  Importance
9      Credit_History    0.387622
5     ApplicantIncome    0.181678
7          LoanAmount    0.153375
6   CoapplicantIncome    0.093106
10      Property_Area    0.038009
2          Dependents    0.037424
8    Loan_Amount_Term    0.037069
1             Married    0.019855
3           Education    0.019351
0              Gender    0.017685
4       Self_Employed    0.014827