In [65]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns' , 500)
pd.set_option('display.max_rows' , 500)

In [2]:
promo = pd.read_csv(r"C:PROMOTION.csv")
promo

      Employee_Name Employee_Position_16-17 Employee_Position_17-18
0      Aaron Mcneil                     NaN                 Level 7
1     Abagail Druci                 Level 6                 Level 6
2    Abigail Amabel                 Level 7                 Level 6
3        Abram Tate                     NaN                 Level 7
4       Adda Rachel                 Level 7                 Level 7
..              ...                     ...                     ...
968    Zena Octavia                 Level 7                 Level 7
969     Zenia Sukey                 Level 8                 Level 8
970     Zora Quinta                 Level 8                 Level 7
971     Zsa Zsa Flo                 Level 8                 Level 8
972  Zulema Ainslee                 Level 8                 Level 8

[973 rows x 3 columns]

In [2]:
final = pd.read_csv(r"C:FINAL.csv")
final

,Employee_No,Profit_Center,Employee_Name,Employee_Position,Employee_Location,People_Group,Employee_Category,Supervisor_name,Join_Date,Current_Status,Termination_ Date,Total_Hours,Total_Available_Hours,Work_Hours,Leave_Hours,Training_Hours,BD_Hours,NC_Hours,Utilization%,promotion,EMPLOYEE_PRESENT_IN_BOTH_YEAR,FY_16,FY_17,TENURE,FY_16.1,FY_16.2,FY_16.3,FY_16.4,FY_17.1,Unnamed: 29,Unnamed: 30
0,1,1,Rochette Jilleen,Level 1,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-09-2000,Active,NaN,4168,3666.5,1084.0,404.0,97.5,2623.5,74.0,29.56%,YES,0,30-09-2000,30-09-2000,18,Rochette Jilleen,1,1.0,0.0,1.0,NaN,NaN
1,2,2,Daryl Natalina,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-05-1999,Active,NaN,4168,3750.0,1277.5,364.0,54.0,1294.5,1330.5,34.07%,NO,0,31-05-1999,31-05-1999,19,Daryl Natalina,2,2.0,0.0,2.0,NaN,NaN
2,3,2,Annnora Gabrielle,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-01-2001,Active,NaN,4168,3618.5,2177.5,482.0,67.5,970.5,907.0,60.18%,NO,0,31-01-2001,31-01-2001,17,Annnora Gabrielle,3,3.0,0.0,3.0,NaN,NaN
3,4,3,Barbee Joey,Level 2,Location 1,Client Service Staff,Resigned,Idalina Lauraine,30-09-2000,Resigned,28-02-2018,3928,3491.5,546.0,404.0,32.5,2743.0,279.0,15.64%,NO,0,30-09-2000,30-09-2000,18,Barbee Joey,4,4.0,0.0,4.0,NaN,NaN
4,6,1,Jordanna Danya,Level 2,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-06-2002,Active,NaN,4168,3635.0,899.0,520.0,13.0,2657.0,731.0,24.73%,NO,0,30-06-2002,30-06-2002,16,Jordanna Danya,6,6.0,0.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,680,7,Clarette Marijo,Level 8,Location 6,Client Service Staff,Serving Notice Period,Bernice Andrea,31-Jul-16,Resigned,30-09-2016,432,366.5,0.0,32.0,33.5,0.0,334.5,0.00%,NO,1,31-07-2016,NaN,2,Clarette Marijo,680,680.0,0.0,NaN,NaN,NaN
1107,692,5,Carma Corrinne,Level 8,Location 1,Client Service Staff,Serving Notice Period,Guenevere Florida,31-Jul-16,Resigned,30-09-2016,432,260.0,116.0,96.0,76.0,0.0,184.0,44.62%,NO,1,31-07-2016,NaN,2,Carma Corrinne,692,692.0,0.0,NaN,NaN,NaN
1108,704,3,Glen Emelia,Level 8,Location 1,Client Service Staff,Serving Notice Period,Kristina Alleen,31-Jul-16,Resigned,31-12-2016,864,723.0,728.0,96.0,45.0,0.0,161.5,100.69%,NO,1,31-07-2016,NaN,2,Glen Emelia,704,704.0,0.0,NaN,NaN,NaN
1109,709,1,Jacinthe Vally,Level 6,Location 3,Client Service Staff,Serving Notice Period,Ardys Katerine,31-Aug-16,Resigned,31-10-2016,480,392.0,190.0,40.0,48.0,0.0,242.0,48.47%,NO,1,31-08-2016,NaN,2,Jacinthe Vally,709,709.0,0.0,NaN,NaN,NaN
1110,752,6,Lyndsie Ciel,Level 8,Location 3,Client Service Staff,Serving Notice Period,Lee Alfie,28-Feb-17,Resigned,28-02-2017,88,48.0,0.0,0.0,40.0,0.0,80.0,0.00%,NO,1,28-02-2017,NaN,1,Lyndsie Ciel,752,752.0,0.0,NaN,NaN,NaN

In [4]:
 hr_join = pd.merge(promo ,final, on=['Employee_Name'] , how= 'right')      ## Use Joins
 hr_join

,Employee_Name,Employee_Position_16-17,Employee_Position_17-18,Employee No,Profit Center,Employee Position,Employee Location,People Group,Employee Category,Supervisor name,Join Date,Current Status,Termination Date,Total Hours,Total Available Hours,Work Hours,Leave Hours,Training Hours,BD Hours,NC Hours,Utilization%,promotion,EMPLOYEE PRESENT IN BOTH YEAR,FY-16,FY-17,TENURE,FY-16.1,FY-16.2,FY-16.3,FY-16.4,FY-17.1,Unnamed: 29,Unnamed: 30
0,Rochette Jilleen,Level 2,Level 1,1,PC - 1,Level 1,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-09-2000,Active,NaN,4168,3666.5,1084.0,404.0,97.5,2623.5,74.0,29.56%,YES,0,30-09-2000,30-09-2000,18,Rochette Jilleen,1,1.0,0.0,1.0,NaN,NaN
1,Daryl Natalina,Level 2,Level 2,2,PC - 2,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-05-1999,Active,NaN,4168,3750.0,1277.5,364.0,54.0,1294.5,1330.5,34.07%,NO,0,31-05-1999,31-05-1999,19,Daryl Natalina,2,2.0,0.0,2.0,NaN,NaN
2,Annnora Gabrielle,Level 2,Level 2,3,PC - 2,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-01-2001,Active,NaN,4168,3618.5,2177.5,482.0,67.5,970.5,907.0,60.18%,NO,0,31-01-2001,31-01-2001,17,Annnora Gabrielle,3,3.0,0.0,3.0,NaN,NaN
3,Barbee Joey,Level 2,Level 2,4,PC - 3,Level 2,Location 1,Client Service Staff,Resigned,Idalina Lauraine,30-09-2000,Resigned,28-02-2018,3928,3491.5,546.0,404.0,32.5,2743.0,279.0,15.64%,NO,0,30-09-2000,30-09-2000,18,Barbee Joey,4,4.0,0.0,4.0,NaN,NaN
4,Jordanna Danya,Level 2,Level 2,6,PC - 1,Level 2,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-06-2002,Active,NaN,4168,3635.0,899.0,520.0,13.0,2657.0,731.0,24.73%,NO,0,30-06-2002,30-06-2002,16,Jordanna Danya,6,6.0,0.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,Clarette Marijo,NaN,NaN,680,PC - 7,Level 8,Location 6,Client Service Staff,Serving Notice Period,Bernice Andrea,31-Jul-16,Resigned,30-09-2016,432,366.5,0.0,32.0,33.5,0.0,334.5,0.00%,NO,1,31-07-2016,NaN,2,Clarette Marijo,680,680.0,0.0,NaN,NaN,NaN
1109,Carma Corrinne,NaN,NaN,692,PC - 5,Level 8,Location 1,Client Service Staff,Serving Notice Period,Guenevere Florida,31-Jul-16,Resigned,30-09-2016,432,260.0,116.0,96.0,76.0,0.0,184.0,44.62%,NO,1,31-07-2016,NaN,2,Carma Corrinne,692,692.0,0.0,NaN,NaN,NaN
1110,Glen Emelia,NaN,NaN,704,PC - 3,Level 8,Location 1,Client Service Staff,Serving Notice Period,Kristina Alleen,31-Jul-16,Resigned,31-12-2016,864,723.0,728.0,96.0,45.0,0.0,161.5,100.69%,NO,1,31-07-2016,NaN,2,Glen Emelia,704,704.0,0.0,NaN,NaN,NaN
1111,Jacinthe Vally,NaN,NaN,709,PC - 1,Level 6,Location 3,Client Service Staff,Serving Notice Period,Ardys Katerine,31-Aug-16,Resigned,31-10-2016,480,392.0,190.0,40.0,48.0,0.0,242.0,48.47%,NO,1,31-08-2016,NaN,2,Jacinthe Vally,709,709.0,0.0,NaN,NaN,NaN
1112,Lyndsie Ciel,NaN,NaN,752,PC - 6,Level 8,Location 3,Client Service Staff,Serving Notice Period,Lee Alfie,28-Feb-17,Resigned,28-02-2017,88,48.0,0.0,0.0,40.0,0.0,80.0,0.00%,NO,1,28-02-2017,NaN,1,Lyndsie Ciel,752,752.0,0.0,NaN,NaN,NaN

In [5]:
hr_join.duplicated().sum()        ## to find out all the duplicate records

0

In [6]:
hr_join['Employee_Name'].duplicated().sum()   ## sum of duplicate record

7

In [7]:
hr_join[hr_join['Employee_Name'].duplicated()].head(10)        ## duplicate record from specific column

,Employee_Name,Employee_Position_16-17,Employee_Position_17-18,Employee No,Profit Center,Employee Position,Employee Location,People Group,Employee Category,Supervisor name,Join Date,Current Status,Termination Date,Total Hours,Total Available Hours,Work Hours,Leave Hours,Training Hours,BD Hours,NC Hours,Utilization%,promotion,EMPLOYEE PRESENT IN BOTH YEAR,FY-16,FY-17,TENURE,FY-16.1,FY-16.2,FY-16.3,FY-16.4,FY-17.1,Unnamed: 29,Unnamed: 30
323,Britteny Rosamund,NaN,Level 8,417,PC - 6,Level 8,Location 3,Client Service Staff,Resigned,Lee Alfie,30-06-2015,Resigned,30-06-2017,2528,2352.0,1757.0,176.0,0.0,20.0,672.0,74.70%,NO,0,30-06-2015,30-06-2015,3,Britteny Rosamund,417,417.0,0.0,417.0,NaN,NaN
324,Britteny Rosamund,Level 8,Level 7,1111,PC - 1,Level 7,Location 3,Client Service Staff,Staff on Probation,Lee Alfie,31-03-2018,New Joiner,NaN,40,24.0,0.0,8.0,8.0,0.0,24.0,0.00%,NO,0,NaN,30-06-2015,3,Britteny Rosamund,1111,417.0,694.0,417.0,NaN,NaN
325,Britteny Rosamund,NaN,Level 8,1111,PC - 1,Level 7,Location 3,Client Service Staff,Staff on Probation,Lee Alfie,31-03-2018,New Joiner,NaN,40,24.0,0.0,8.0,8.0,0.0,24.0,0.00%,NO,0,NaN,30-06-2015,3,Britteny Rosamund,1111,417.0,694.0,417.0,NaN,NaN
580,Robinia Adoree,Level 8,Level 7,1109,PC - 3,Level 7,Location 4,Client Service Staff,Confirmed Staff,Mathilda Tomi,31-10-2017,Active,NaN,1000,841.0,715.5,132.0,27.0,0.0,133.5,85.08%,NO,0,NaN,30-09-2016,2,Robinia Adoree,1109,714.0,395.0,714.0,NaN,NaN
973,Cosette Lavena,Level 6,Level 5,358,PC - 2,Level 6,Location 7,Client Service Staff,Serving Notice Period,Dorotea Inger,31-May-15,Resigned,30-09-2016,968,869.0,681.0,60.0,39.0,11.0,334.5,78.37%,YES,0,31-05-2015,30-04-2017,3,Cosette Lavena,358,358.0,0.0,1107.0,NaN,NaN
975,Ivy Gipsy,Level 7,Level 6,274,PC - 2,Level 7,Location 9,Client Service Staff,Serving Notice Period,Marleah Bernadina,30-Sep-14,Resigned,31-12-2016,1480,1392.0,1204.0,80.0,8.0,0.0,220.0,86.49%,YES,0,30-09-2014,31-07-2017,4,Ivy Gipsy,274,274.0,0.0,1108.0,NaN,NaN
977,Gerri Kristy,Level 7,Level 6,205,PC - 3,Level 7,Location 1,Client Service Staff,Serving Notice Period,Eydie Francine,30-Sep-13,Resigned,30-09-2016,1048,512.0,496.0,536.0,0.0,0.0,16.0,96.88%,YES,0,30-09-2013,31-12-2017,5,Gerri Kristy,205,205.0,0.0,1110.0,NaN,NaN

In [14]:
f1 = pd.read_csv(r"C:staff utlz latest 16-17_masked.csv")
f1

,Profit Center,Employee_Name,Employee Position,Employee Location,People Group,Employee Category,Supervisor name,Join Date,Current Status
0,PC - 1,Rochette Jilleen,Level 2,Location 3,Client Service Staff,Level 1/2,Idalina Lauraine,30-Sep-00,Active
1,PC - 2,Daryl Natalina,Level 2,Location 7,Client Service Staff,Level 1/2,Idalina Lauraine,31-May-99,Active
2,PC - 2,Annnora Gabrielle,Level 2,Location 7,Client Service Staff,Level 1/2,Idalina Lauraine,31-Jan-01,Active
3,PC - 3,Barbee Joey,Level 2,Location 1,Client Service Staff,Level 1/2,Idalina Lauraine,30-Sep-00,Active
4,PC - 4,Idalina Lauraine,Level 1,Location 3,Client Service Staff,Level 1/2,Abagail Druci,30-Jun-98,Active
...,...,...,...,...,...,...,...,...,...
784,PC - 6,Maurine Jessika,Level 8,Location 1,Client Service Staff,Staff on Probation,Tiena Hatti,31-Mar-17,New Joiner
785,PC - 3,Ainsley Benedetta,Level 8,Location 1,Client Service Staff,Staff on Probation,Kristina Alleen,31-Mar-17,New Joiner
786,PC - 5,Calli Celene,Level 8,Location 3,Client Service Staff,Staff on Probation,Lian Harley,31-Mar-17,New Joiner
787,PC - 3,Myrna Brianna,Level 7,Location 4,Client Service Staff,Staff on Probation,Hedi Elna,31-Mar-17,New Joiner
788,PC - 3,Bibbye Isabelle,Level 7,Location 1,Client Service Staff,Staff on Probation,Eydie Francine,31-Mar-17,New Joiner

In [15]:
f2 = pd.read_csv(r"C:staff utlz latest 17-18_masked.csv")
f2

,Employee No,Profit Center,Employee_Name,Employee Position,Employee Location,People Group,Employee Category,Supervisor name,Join Date,Current Status,Termination Date
0,1,PC - 1,Rochette Jilleen,Level 1,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-09-2000,Active,NaN
1,2,PC - 2,Daryl Natalina,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-05-1999,Active,NaN
2,3,PC - 2,Annnora Gabrielle,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-01-2001,Active,NaN
3,4,PC - 3,Barbee Joey,Level 2,Location 1,Client Service Staff,Resigned,Idalina Lauraine,30-09-2000,Resigned,28-02-2018
4,6,PC - 1,Jordanna Danya,Level 2,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-06-2002,Active,NaN
...,...,...,...,...,...,...,...,...,...,...,...
968,1103,PC - 1,Brock Walsh,Level 8,Location 3,Client Service Staff,Staff on Probation,Gavra Kayle,31-03-2018,New Joiner,NaN
969,1111,PC - 1,Britteny Rosamund,Level 7,Location 3,Client Service Staff,Staff on Probation,Lee Alfie,31-03-2018,New Joiner,NaN
970,1104,PC - 3,Caiden Romero,Level 8,Location 1,Client Service Staff,Staff on Probation,Donette Verne,31-03-2018,New Joiner,NaN
971,1105,PC - 3,Andy Mejia,Level 7,Location 1,Client Service Staff,Staff on Probation,Tiena Hatti,31-03-2018,New Joiner,NaN
972,1106,PC - 2,Alondra Pugh,Level 8,Location 7,Client Service Staff,Staff on Probation,Frances Mignonne,31-03-2018,New Joiner,NaN

In [16]:
f1_f2_final = pd.merge(f1 ,f2, on=['Employee_Name'] , how= 'right')      ## Use Joins
f1_f2_final

,Profit Center_x,Employee_Name,Employee Position_x,Employee Location_x,People Group_x,Employee Category_x,Supervisor name_x,Join Date_x,Current Status_x,Employee No,Profit Center_y,Employee Position_y,Employee Location_y,People Group_y,Employee Category_y,Supervisor name_y,Join Date_y,Current Status_y,Termination Date
0,PC - 1,Rochette Jilleen,Level 2,Location 3,Client Service Staff,Level 1/2,Idalina Lauraine,30-Sep-00,Active,1,PC - 1,Level 1,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-09-2000,Active,NaN
1,PC - 2,Daryl Natalina,Level 2,Location 7,Client Service Staff,Level 1/2,Idalina Lauraine,31-May-99,Active,2,PC - 2,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-05-1999,Active,NaN
2,PC - 2,Annnora Gabrielle,Level 2,Location 7,Client Service Staff,Level 1/2,Idalina Lauraine,31-Jan-01,Active,3,PC - 2,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-01-2001,Active,NaN
3,PC - 3,Barbee Joey,Level 2,Location 1,Client Service Staff,Level 1/2,Idalina Lauraine,30-Sep-00,Active,4,PC - 3,Level 2,Location 1,Client Service Staff,Resigned,Idalina Lauraine,30-09-2000,Resigned,28-02-2018
4,PC - 1,Jordanna Danya,Level 2,Location 3,Client Service Staff,Level 1/2,Idalina Lauraine,30-Jun-02,Active,6,PC - 1,Level 2,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-06-2002,Active,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,NaN,Draven Austin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1102,PC - 1,Level 8,Location 3,Client Service Staff,Staff on Probation,Luciana Erika,31-03-2018,New Joiner,NaN
969,NaN,Brock Walsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1103,PC - 1,Level 8,Location 3,Client Service Staff,Staff on Probation,Gavra Kayle,31-03-2018,New Joiner,NaN
970,NaN,Caiden Romero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1104,PC - 3,Level 8,Location 1,Client Service Staff,Staff on Probation,Donette Verne,31-03-2018,New Joiner,NaN
971,NaN,Andy Mejia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1105,PC - 3,Level 7,Location 1,Client Service Staff,Staff on Probation,Tiena Hatti,31-03-2018,New Joiner,NaN
972,NaN,Alondra Pugh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1106,PC - 2,Level 8,Location 7,Client Service Staff,Staff on Probation,Frances Mignonne,31-03-2018,New Joiner,NaN

In [17]:
f1_f2_final.duplicated().sum()

0

In [18]:
f1_f2_final['Employee_Name'].duplicated().sum()

2

In [19]:
f1_f2_final[f1_f2_final['Employee_Name'].duplicated()].head()

,Profit Center_x,Employee_Name,Employee Position_x,Employee Location_x,People Group_x,Employee Category_x,Supervisor name_x,Join Date_x,Current Status_x,Employee No,Profit Center_y,Employee Position_y,Employee Location_y,People Group_y,Employee Category_y,Supervisor name_y,Join Date_y,Current Status_y,Termination Date
329,PC - 6,Britteny Rosamund,Level 8,Location 3,Client Service Staff,Serving Notice Period,Lee Alfie,30-Jun-15,Active,1111,PC - 1,Level 7,Location 3,Client Service Staff,Staff on Probation,Lee Alfie,31-03-2018,New Joiner,NaN
587,PC - 2,Robinia Adoree,Level 8,Location 9,Client Service Staff,Confirmed Staff,Orelee Hanna,30-Sep-16,Active,1109,PC - 3,Level 7,Location 4,Client Service Staff,Confirmed Staff,Mathilda Tomi,31-10-2017,Active,NaN

In [21]:
f1_f2_final['Employee_Name'].shape

(973,)

In [22]:
f1_f2_final['Employee_Name'].drop_duplicates().shape      ## Drop duplicate values

(971,)

In [174]:
final[final.Current_Status=='Active'],final

(      Employee_No Profit_Center      Employee_Name Employee_Position  \
 0               1             1   Rochette Jilleen           Level 1
 1               2             2     Daryl Natalina           Level 2
 2               3             2  Annnora Gabrielle           Level 2
 4               6             1     Jordanna Danya           Level 2
 5               7             1       Irene Candis           Level 3
 ...           ...           ...                ...               ...
 970          1109        PC - 3     Robinia Adoree           Level 7
 971          1110        PC - 3       Gerri Kristy           Level 6
 973             5        PC - 4   Idalina Lauraine           Level 1
 1027          248        PC - 8       Wynnie Lilas           Level 6
 1070          433             9     Nanete Kandace           Level 5

      Employee_Location          People_Group      Employee_Category  \
 0           Location 3  Client Service Staff                 SVP/VP
 1           Location 7  Client Service Staff                 SVP/VP
 2           Location 7  Client Service Staff                 SVP/VP
 4           Location 3  Client Service Staff                 SVP/VP
 5           Location 3  Client Service Staff        Confirmed Staff
 ...                ...                   ...                    ...
 970         Location 4  Client Service Staff        Confirmed Staff
 971         Location 1  Client Service Staff     Staff on Probation
 973         Location 3  Client Service Staff              Level 1/2
 1027        Location 7  Client Service Staff        Confirmed Staff
 1070        Location 3  Client Service Staff  Serving Notice Period

        Supervisor_name   Join_Date  Total_Hours  Total_Available_Hours  \
 0     Idalina Lauraine  30-09-2000         4168                 3666.5
 1     Idalina Lauraine  31-05-1999         4168                 3750.0
 2     Idalina Lauraine  31-01-2001         4168                 3618.5
 4     Idalina Lauraine  30-06-2002         4168                 3635.0
 5     Rochette Jilleen  31-07-2004         4168                 3481.0
 ...                ...         ...          ...                    ...
 970      Mathilda Tomi  31-10-2017         1000                  841.0
 971      Dottie Bidget  31-12-2017          640                  556.0
 973      Abagail Druci   30-Jun-98         1312                 1205.0
 1027   Aeriela Elonore   30-Jun-14         1392                 1288.0
 1070   Agata Theodosia   31-Jul-15            0                    0.0

       Work_Hours  Leave_Hours  Training_Hours  BD_Hours  NC_Hours  \
 0         1084.0        404.0            97.5    2623.5      74.0
 1         1277.5        364.0            54.0    1294.5    1330.5
 2         2177.5        482.0            67.5     970.5     907.0
 4          899.0        520.0            13.0    2657.0     731.0
 5          645.0        582.0           105.0    2507.0     407.0
 ...          ...          ...             ...       ...       ...
 970        715.5        132.0            27.0       0.0     133.5
 971        268.0         72.0            12.0       0.0     348.0
 973        149.0        104.0             3.0    1159.0     818.0
 1027       504.0        104.0             0.0       0.0     792.0
 1070         0.0          0.0             0.0     168.0       0.0

      Utilization% promotion  EMPLOYEE_PRESENT_IN_BOTH_YEAR  TENURE  \
 0          29.56%       YES                              0      18
 1          34.07%        NO                              0      19
 2          60.18%        NO                              0      17
 4          24.73%        NO                              0      16
 5          18.53%        NO                              0      14
 ...           ...       ...                            ...     ...
 970        85.08%        NO                              0       2
 971        48.20%       YES                              0       1
 973        12.37%        NO                              1      20
 1027       39.13%        NO                              1       4
 1070      #DIV/0!        NO                              1       3

      Current_Status  Unnamed: 21
 0            Active          NaN
 1            Active          NaN
 2            Active          NaN
 4            Active          NaN
 5            Active          NaN
 ...             ...          ...
 970          Active          NaN
 971          Active          NaN
 973          Active          NaN
 1027         Active          NaN
 1070         Active          NaN

 [799 rows x 22 columns],
       Employee_No Profit_Center      Employee_Name Employee_Position  \
 0               1             1   Rochette Jilleen           Level 1
 1               2             2     Daryl Natalina           Level 2
 2               3             2  Annnora Gabrielle           Level 2
 3               4             3        Barbee Joey           Level 2
 4               6             1     Jordanna Danya           Level 2
 ...           ...           ...                ...               ...
 1106          680             7    Clarette Marijo           Level 8
 1107          692             5     Carma Corrinne           Level 8
 1108          704             3        Glen Emelia           Level 8
 1109          709             1     Jacinthe Vally           Level 6
 1110          752             6       Lyndsie Ciel           Level 8

      Employee_Location          People_Group      Employee_Category  \
 0           Location 3  Client Service Staff                 SVP/VP
 1           Location 7  Client Service Staff                 SVP/VP
 2           Location 7  Client Service Staff                 SVP/VP
 3           Location 1  Client Service Staff               Resigned
 4           Location 3  Client Service Staff                 SVP/VP
 ...                ...                   ...                    ...
 1106        Location 6  Client Service Staff  Serving Notice Period
 1107        Location 1  Client Service Staff  Serving Notice Period
 1108        Location 1  Client Service Staff  Serving Notice Period
 1109        Location 3  Client Service Staff  Serving Notice Period
 1110        Location 3  Client Service Staff  Serving Notice Period

         Supervisor_name   Join_Date  Total_Hours  Total_Available_Hours  \
 0      Idalina Lauraine  30-09-2000         4168                 3666.5
 1      Idalina Lauraine  31-05-1999         4168                 3750.0
 2      Idalina Lauraine  31-01-2001         4168                 3618.5
 3      Idalina Lauraine  30-09-2000         3928                 3491.5
 4      Idalina Lauraine  30-06-2002         4168                 3635.0
 ...                 ...         ...          ...                    ...
 1106     Bernice Andrea   31-Jul-16          432                  366.5
 1107  Guenevere Florida   31-Jul-16          432                  260.0
 1108    Kristina Alleen   31-Jul-16          864                  723.0
 1109     Ardys Katerine   31-Aug-16          480                  392.0
 1110          Lee Alfie   28-Feb-17           88                   48.0

       Work_Hours  Leave_Hours  Training_Hours  BD_Hours  NC_Hours  \
 0         1084.0        404.0            97.5    2623.5      74.0
 1         1277.5        364.0            54.0    1294.5    1330.5
 2         2177.5        482.0            67.5     970.5     907.0
 3          546.0        404.0            32.5    2743.0     279.0
 4          899.0        520.0            13.0    2657.0     731.0
 ...          ...          ...             ...       ...       ...
 1106         0.0         32.0            33.5       0.0     334.5
 1107       116.0         96.0            76.0       0.0     184.0
 1108       728.0         96.0            45.0       0.0     161.5
 1109       190.0         40.0            48.0       0.0     242.0
 1110         0.0          0.0            40.0       0.0      80.0

      Utilization% promotion  EMPLOYEE_PRESENT_IN_BOTH_YEAR  TENURE  \
 0          29.56%       YES                              0      18
 1          34.07%        NO                              0      19
 2          60.18%        NO                              0      17
 3          15.64%        NO                              0      18
 4          24.73%        NO                              0      16
 ...           ...       ...                            ...     ...
 1106        0.00%        NO                              1       2
 1107       44.62%        NO                              1       2
 1108      100.69%        NO                              1       2
 1109       48.47%        NO                              1       2
 1110        0.00%        NO                              1       1

      Current_Status  Unnamed: 21
 0            Active          NaN
 1            Active          NaN
 2            Active          NaN
 3          Resigned          NaN
 4            Active          NaN
 ...             ...          ...
 1106       Resigned          NaN
 1107       Resigned          NaN
 1108       Resigned          NaN
 1109       Resigned          NaN
 1110       Resigned          NaN

 [1111 rows x 22 columns])

In [78]:
final = pd.read_csv(r"C:FINAL.csv")
final.head()

,Employee_No,Profit_Center,Employee_Name,Employee_Position,Employee_Location,People_Group,Employee_Category,Supervisor_name,Join_Date,Total_Hours,Total_Available_Hours,Work_Hours,Leave_Hours,Training_Hours,BD_Hours,NC_Hours,Utilization%,promotion,EMPLOYEE_PRESENT_IN_BOTH_YEAR,TENURE,Current_Status
0,1,1,Rochette Jilleen,Level 1,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-09-2000,4168,3666.5,1084.0,404.0,97.5,2623.5,74.0,29.56%,YES,0,18,Active
1,2,2,Daryl Natalina,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-05-1999,4168,3750.0,1277.5,364.0,54.0,1294.5,1330.5,34.07%,NO,0,19,Active
2,3,2,Annnora Gabrielle,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-01-2001,4168,3618.5,2177.5,482.0,67.5,970.5,907.0,60.18%,NO,0,17,Active
3,4,3,Barbee Joey,Level 2,Location 1,Client Service Staff,Resigned,Idalina Lauraine,30-09-2000,3928,3491.5,546.0,404.0,32.5,2743.0,279.0,15.64%,NO,0,18,Resigned
4,6,1,Jordanna Danya,Level 2,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-06-2002,4168,3635.0,899.0,520.0,13.0,2657.0,731.0,24.73%,NO,0,16,Active

In [79]:
final.Current_Status.value_counts()

Active      834
Resigned    277
Name: Current_Status, dtype: int64

In [80]:
final.Current_Status.replace({"Active" : 0, "Resigned": 1 },inplace=True)
final.promotion.replace({"Yes" : 1, "No": 1},inplace=True)

In [81]:
final.isnull().sum()

Employee_No                      0
Profit_Center                    0
Employee_Name                    0
Employee_Position                0
Employee_Location                0
People_Group                     0
Employee_Category                0
Supervisor_name                  0
Join_Date                        0
Total_Hours                      0
Total_Available_Hours            0
Work_Hours                       0
Leave_Hours                      0
Training_Hours                   0
BD_Hours                         0
NC_Hours                         0
Utilization%                     0
promotion                        0
EMPLOYEE_PRESENT_IN_BOTH_YEAR    0
TENURE                           0
Current_Status                   0
dtype: int64

In [82]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employee_No                    1111 non-null   int64
 1   Profit_Center                  1111 non-null   object
 2   Employee_Name                  1111 non-null   object
 3   Employee_Position              1111 non-null   object
 4   Employee_Location              1111 non-null   object
 5   People_Group                   1111 non-null   object
 6   Employee_Category              1111 non-null   object
 7   Supervisor_name                1111 non-null   object
 8   Join_Date                      1111 non-null   object
 9   Total_Hours                    1111 non-null   int64
 10  Total_Available_Hours          1111 non-null   float64
 11  Work_Hours                     1111 non-null   float64
 12  Leave_Hours                    1111 non-null   float64
 13  Training_Hours                 1111 non-null   float64
 14  BD_Hours                       1111 non-null   float64
 15  NC_Hours                       1111 non-null   float64
 16  Utilization%                   1111 non-null   object
 17  promotion                      1111 non-null   object
 18  EMPLOYEE_PRESENT_IN_BOTH_YEAR  1111 non-null   int64
 19  TENURE                         1111 non-null   int64
 20  Current_Status                 1111 non-null   int64
dtypes: float64(6), int64(5), object(10)
memory usage: 182.4+ KB

In [83]:
final.select_dtypes(include=['object']).columns

Index(['Profit_Center', 'Employee_Name', 'Employee_Position',
       'Employee_Location', 'People_Group', 'Employee_Category',
       'Supervisor_name', 'Join_Date', 'Utilization%', 'promotion'],
      dtype='object')

In [84]:
final.head()

,Employee_No,Profit_Center,Employee_Name,Employee_Position,Employee_Location,People_Group,Employee_Category,Supervisor_name,Join_Date,Total_Hours,Total_Available_Hours,Work_Hours,Leave_Hours,Training_Hours,BD_Hours,NC_Hours,Utilization%,promotion,EMPLOYEE_PRESENT_IN_BOTH_YEAR,TENURE,Current_Status
0,1,1,Rochette Jilleen,Level 1,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-09-2000,4168,3666.5,1084.0,404.0,97.5,2623.5,74.0,29.56%,YES,0,18,0
1,2,2,Daryl Natalina,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-05-1999,4168,3750.0,1277.5,364.0,54.0,1294.5,1330.5,34.07%,NO,0,19,0
2,3,2,Annnora Gabrielle,Level 2,Location 7,Client Service Staff,SVP/VP,Idalina Lauraine,31-01-2001,4168,3618.5,2177.5,482.0,67.5,970.5,907.0,60.18%,NO,0,17,0
3,4,3,Barbee Joey,Level 2,Location 1,Client Service Staff,Resigned,Idalina Lauraine,30-09-2000,3928,3491.5,546.0,404.0,32.5,2743.0,279.0,15.64%,NO,0,18,1
4,6,1,Jordanna Danya,Level 2,Location 3,Client Service Staff,SVP/VP,Idalina Lauraine,30-06-2002,4168,3635.0,899.0,520.0,13.0,2657.0,731.0,24.73%,NO,0,16,0

In [85]:
final.Current_Status.value_counts()

0    834
1    277
Name: Current_Status, dtype: int64

In [86]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

final[final.select_dtypes(include = ["object"]).columns] = final[final.select_dtypes(include = ["object"]).columns].apply(le.fit_transform)

In [87]:
final.head()

,Employee_No,Profit_Center,Employee_Name,Employee_Position,Employee_Location,People_Group,Employee_Category,Supervisor_name,Join_Date,Total_Hours,Total_Available_Hours,Work_Hours,Leave_Hours,Training_Hours,BD_Hours,NC_Hours,Utilization%,promotion,EMPLOYEE_PRESENT_IN_BOTH_YEAR,TENURE,Current_Status
0,1,0,911,1,2,0,8,57,33,4168,3666.5,1084.0,404.0,97.5,2623.5,74.0,157,1,0,18,0
1,2,2,282,3,6,0,8,57,101,4168,3750.0,1277.5,364.0,54.0,1294.5,1330.5,178,0,0,19,0
2,3,2,81,3,6,0,8,57,79,4168,3618.5,2177.5,482.0,67.5,970.5,907.0,330,0,0,17,0
3,4,3,109,3,0,0,7,57,33,3928,3491.5,546.0,404.0,32.5,2743.0,279.0,115,0,0,18,1
4,6,0,556,3,2,0,8,57,23,4168,3635.0,899.0,520.0,13.0,2657.0,731.0,144,0,0,16,0

In [88]:
final.shape

(1111, 21)

In [89]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

logr = LogisticRegression()
dtc = DecisionTreeClassifier()
rfc = RandomForestClassifier()

In [90]:
final_train , final_test = train_test_split(final , test_size = .2)

final_train_x = final_train.iloc[: ,0:-1]
final_train_y = final_train.iloc[: ,-1 ]

final_test_x = final_test.iloc[: ,0:-1]
final_test_y = final_test.iloc[: ,-1]

In [91]:
final_train_x.head()

,Employee_No,Profit_Center,Employee_Name,Employee_Position,Employee_Location,People_Group,Employee_Category,Supervisor_name,Join_Date,Total_Hours,Total_Available_Hours,Work_Hours,Leave_Hours,Training_Hours,BD_Hours,NC_Hours,Utilization%,promotion,EMPLOYEE_PRESENT_IN_BOTH_YEAR,TENURE
735,874,8,913,7,5,0,1,67,32,1680,1396.0,1043.0,192.0,92.0,0.0,363.0,464,0,2,1
405,520,8,730,7,2,0,7,94,88,3328,2981.0,2156.0,344.0,3.0,116.0,717.0,434,0,0,2
997,123,11,1017,7,0,0,10,124,62,1288,1272.0,600.0,8.0,8.0,32.0,648.0,236,0,1,6
110,140,8,1060,5,7,0,1,79,142,4168,3638.0,1825.0,496.0,34.0,0.0,1869.0,262,1,0,6
416,532,8,506,9,2,0,7,47,88,2488,2248.0,1512.0,224.0,16.0,0.0,800.0,389,0,0,2

In [92]:
final_test_x

,Employee_No,Profit_Center,Employee_Name,Employee_Position,Employee_Location,People_Group,Employee_Category,Supervisor_name,Join_Date,Total_Hours,Total_Available_Hours,Work_Hours,Leave_Hours,Training_Hours,BD_Hours,NC_Hours,Utilization%,promotion,EMPLOYEE_PRESENT_IN_BOTH_YEAR,TENURE
160,201,10,1007,6,6,0,1,39,117,4168,3643.50,2686.00,372.0,152.50,0.0,1227.00,450,0,0,5
430,548,8,55,9,2,0,1,49,12,4168,3604.34,3260.00,528.0,35.66,0.0,380.00,732,0,0,2
1055,358,10,256,7,6,0,10,40,175,968,869.00,681.00,60.0,39.00,11.0,334.50,516,1,0,3
509,636,10,990,9,6,0,1,76,31,3800,3255.50,2176.00,436.0,108.50,0.0,1242.00,384,0,0,2
756,895,8,687,9,5,0,7,0,32,152,152.00,0.00,0.0,0.00,0.0,40.00,1,0,2,1
649,788,11,807,8,3,0,7,55,99,1640,1560.00,1384.00,80.0,0.00,0.0,344.00,693,0,0,1
134,172,11,1041,7,0,0,10,140,108,4168,4168.00,4048.00,0.0,0.00,0.0,120.00,906,0,0,5
716,855,11,638,5,0,0,1,74,112,1800,1622.00,1073.00,152.0,26.00,0.0,549.00,380,0,2,1
65,79,10,515,7,6,0,1,139,106,4168,3562.50,3082.00,576.0,29.50,0.0,572.00,652,1,0,7
573,711,10,280,9,8,0,1,117,129,3360,2960.50,2960.50,320.0,79.50,0.0,168.00,7,0,0,2
740,879,10,190,9,8,0,1,59,32,1680,1477.00,1971.50,120.0,83.00,0.0,0.00,106,0,2,1
1094,581,2,1049,9,6,0,10,110,59,400,376.00,89.00,0.0,24.00,0.0,316.00,142,0,1,2
124,161,10,747,7,8,0,1,100,108,4168,3642.00,3263.50,480.0,46.00,0.0,502.00,715,0,0,5
752,891,11,978,9,0,0,1,38,32,1640,1425.00,1342.00,160.0,55.00,0.0,177.00,832,0,2,1
422,538,10,924,8,6,0,7,132,88,2128,1888.00,1149.00,160.0,80.00,8.0,831.00,335,0,0,2
16,21,0,47,3,2,0,8,126,114,4168,3928.00,1749.00,200.0,40.00,2187.0,34.00,224,1,0,12
801,940,11,51,8,0,0,1,51,121,1480,1261.00,1088.00,160.0,59.00,0.0,184.00,647,0,2,1
501,628,11,470,8,1,0,1,122,31,3800,3325.00,2474.00,340.0,135.00,0.0,1216.50,458,0,0,2
570,707,8,494,6,7,0,1,10,129,3480,2955.85,754.00,352.0,172.15,0.0,2247.85,145,0,0,2
372,484,8,507,6,7,0,1,10,53,4168,3908.00,1860.50,240.0,20.00,0.0,2476.50,239,0,0,3
815,954,10,1011,8,8,0,1,89,121,1400,1214.00,1088.00,160.0,26.00,0.0,126.00,716,0,2,1
725,864,10,514,9,6,0,7,71,32,1224,871.50,711.50,208.0,144.50,0.0,192.00,570,0,2,1
698,837,11,528,9,0,0,1,149,112,1840,1606.50,1167.00,112.0,121.50,0.0,488.00,436,0,2,1
715,854,11,870,9,3,0,1,105,112,1800,1510.00,1342.00,208.0,82.00,0.0,180.00,696,0,2,1
959,1098,11,188,9,0,0,11,30,100,80,56.00,0.00,8.0,16.00,0.0,56.00,1,0,2,0
84,105,10,319,4,6,0,1,35,84,4168,3797.00,1160.50,332.0,39.00,1422.5,1450.00,162,0,0,6
1001,137,8,1000,6,2,0,10,79,178,1488,1320.00,1157.00,168.0,0.00,0.0,164.00,671,0,1,6
130,167,11,95,7,0,0,7,146,108,4168,3631.50,3392.00,528.0,8.50,0.0,335.50,813,0,0,5
1089,544,5,355,9,2,0,10,133,13,1648,1544.00,756.00,104.0,0.00,0.0,788.00,248,0,1,2
918,1057,11,508,9,0,0,11,140,6,320,272.00,152.00,24.0,24.00,0.0,120.00,302,0,2,0
847,986,10,902,9,6,0,1,23,137,920,792.00,777.00,64.0,64.00,0.0,19.00,927,0,2,1
627,766,10,309,8,6,0,1,80,5,2280,1899.50,1571.00,336.0,44.50,0.0,400.50,589,1,0,1
882,1021,11,933,9,0,0,11,129,147,640,557.00,496.00,72.0,11.00,0.0,69.00,701,0,2,1
173,223,10,43,7,6,0,1,48,86,4168,3796.00,3256.00,344.0,28.00,0.0,796.00,635,1,0,4
517,646,10,341,9,6,0,7,128,31,3800,3444.00,2306.00,288.0,68.00,4.0,1207.00,385,0,0,2
748,887,11,234,9,0,0,1,107,32,1640,1373.00,1327.00,200.0,67.00,0.0,63.00,895,0,2,1
1050,331,8,721,9,2,0,10,113,169,448,408.00,216.00,40.0,0.00,0.0,192.00,282,0,1,3
898,1037,11,592,8,0,0,11,17,90,480,407.00,72.00,48.0,25.00,0.0,335.00,126,0,2,0
762,901,8,980,9,2,0,1,25,32,1640,1433.00,1364.00,184.0,23.00,0.0,97.00,859,0,2,1
852,991,8,782,9,7,0,1,42,55,840,808.00,784.00,8.0,24.00,0.0,24.00,903,0,2,1
700,839,11,151,9,0,0,7,119,112,920,845.00,640.00,56.0,19.00,0.0,397.00,477,0,2,1
403,518,10,34,9,6,0,7,110,88,2360,2075.00,1881.00,208.0,77.00,0.0,335.00,739,0,0,2
15,20,2,659,7,6,0,1,119,24,4168,3725.00,4431.02,350.0,93.00,0.0,16.00,96,0,0,12
755,894,10,877,7,6,0,1,16,32,1640,1297.50,984.00,200.0,142.50,0.0,560.00,478,0,2,1
690,829,8,930,8,2,0,7,0,22,656,556.00,160.00,48.0,52.00,0.0,424.00,154,0,2,1
781,920,8,285,8,2,0,7,4,32,752,620.00,509.00,80.0,52.00,0.0,114.00,579,0,2,1
167,214,8,809,8,2,0,1,87,51,4168,3670.50,3191.00,496.0,1.50,0.0,779.00,659,0,0,5
778,917,10,48,9,6,0,1,138,32,1640,1392.00,1336.00,136.0,112.00,0.0,89.00,879,0,2,1
1000,135,15,318,8,5,0,10,14,75,2056,1725.00,957.00,328.0,3.00,0.0,789.00,295,0,1,6
841,980,11,465,7,0,0,1,41,137,1000,876.00,648.00,88.0,36.00,0.0,376.00,455,0,2,1
81,101,11,851,5,0,0,1,19,49,4168,3888.00,1450.00,256.0,24.00,0.0,2454.00,186,0,0,7
4,6,0,556,3,2,0,8,57,23,4168,3635.00,899.00,520.0,13.00,2657.0,731.00,144,0,0,16
431,549,8,238,7,7,0,1,11,12,4168,3681.00,3455.00,412.0,75.00,0.0,274.00,823,1,0,2
211,275,11,251,6,0,0,1,54,39,4168,3668.00,2200.00,500.0,0.00,0.0,1657.00,323,1,0,4
687,826,8,749,8,2,0,1,98,22,2000,1752.00,1488.00,176.0,72.00,0.0,384.00,619,0,2,1
736,875,11,68,8,0,0,1,141,32,1680,1418.00,992.00,222.0,40.00,0.0,624.00,408,0,2,1
883,1022,11,635,8,0,0,11,15,147,600,512.00,499.00,72.0,16.00,0.0,32.00,913,0,2,1
286,370,11,631,8,0,0,1,51,110,4168,3930.50,4002.00,216.0,21.50,16.0,0.00,36,0,0,3
145,184,11,291,7,4,0,1,36,28,4168,3686.50,3038.00,456.0,25.50,16.0,1108.50,584,1,0,5
56,68,10,276,6,6,0,1,39,83,4168,3673.00,2608.00,360.0,135.00,114.0,1360.50,420,0,0,7
48,58,10,996,6,6,0,1,78,123,4168,2722.00,1681.00,1332.0,114.00,715.0,503.00,345,0,0,8
299,386,11,467,9,0,0,7,7,110,3120,2680.00,2532.00,424.0,16.00,0.0,284.50,841,0,0,3
320,415,10,699,8,6,0,1,66,30,4168,3480.50,2752.50,620.0,67.50,-24.0,880.00,528,0,0,3
33,39,11,614,11,0,1,1,19,25,4168,3557.50,0.00,592.0,18.50,0.0,4715.50,1,0,0,9
581,719,11,901,9,0,0,7,140,41,2880,2447.00,1748.00,348.0,85.00,0.0,718.00,425,0,0,2
262,342,10,354,7,8,0,1,68,20,4168,3418.00,3118.00,715.0,35.00,80.0,325.00,758,1,0,3
213,277,11,828,8,0,0,1,140,39,4168,3763.50,3785.00,400.0,4.50,16.0,112.00,17,0,0,4
146,186,11,1053,7,3,0,1,33,28,4168,3128.00,2514.00,1004.0,36.00,0.0,646.00,545,0,0,5
828,967,10,278,8,8,0,7,89,130,760,617.00,560.00,96.0,47.00,0.0,65.00,742,0,2,1
475,601,11,63,8,3,0,1,50,111,4000,3438.50,3418.00,400.0,161.50,0.0,199.00,956,0,0,2
265,345,8,443,7,7,0,1,94,20,4168,3757.50,3360.00,384.0,26.50,0.0,605.50,708,1,0,3
356,464,11,666,8,1,0,10,102,40,4168,3704.00,3364.00,412.0,52.00,0.0,719.50,744,0,0,3
285,369,11,697,8,1,0,1,108,110,4168,3773.50,3024.00,392.0,2.50,0.0,1437.50,541,0,0,3
282,366,8,883,7,2,0,1,143,110,4168,3636.00,2952.00,496.0,36.00,0.0,860.00,560,1,0,3
341,441,10,627,9,6,0,7,114,119,2776,2320.50,619.00,392.0,63.50,0.0,1889.50,148,0,0,3
511,638,10,552,9,6,0,1,53,31,3800,3314.50,2444.00,364.0,121.50,0.0,922.50,451,0,0,2
861,1000,11,547,7,0,0,7,147,55,24,24.00,0.00,0.0,0.00,0.0,0.00,1,0,2,1
876,1015,10,558,9,6,0,11,23,147,680,540.00,532.00,88.0,52.00,0.0,16.00,935,0,2,1
234,305,11,463,7,0,0,1,13,87,4168,3652.50,3364.50,472.0,43.50,0.0,464.50,778,1,0,3
585,723,8,789,8,2,0,1,87,136,3000,2589.00,2341.00,256.0,155.00,40.0,331.00,731,1,0,2
273,354,11,222,8,1,0,10,102,20,4168,3697.00,2669.00,448.0,23.00,0.0,1326.50,431,0,0,3
419,535,10,357,8,6,0,1,6,12,4168,3716.50,3503.50,336.0,115.50,3.0,383.50,835,0,0,2
602,740,11,474,8,0,0,7,119,89,2280,2037.00,1856.00,204.0,39.00,0.0,207.00,752,0,0,1
577,715,11,710,9,0,0,7,119,41,2552,2520.00,2376.00,16.0,16.00,0.0,184.00,837,0,0,2
768,907,10,613,9,6,0,1,112,32,1640,1389.00,1248.00,168.0,83.00,0.0,166.00,722,0,2,1
408,524,11,982,7,3,0,1,33,88,4168,3732.50,3646.00,384.0,51.50,0.0,281.50,920,1,0,2
1101,648,2,478,9,8,0,10,117,66,616,535.00,112.00,8.0,73.00,0.0,447.00,133,0,1,2
312,403,10,792,7,6,0,1,66,30,4168,3685.00,3720.00,456.0,27.00,0.0,595.50,24,1,0,3
927,1066,10,203,8,6,0,11,110,6,280,223.00,198.00,32.0,25.00,0.0,55.00,694,0,2,0
332,430,8,1030,8,2,0,1,52,30,4168,3672.50,3252.00,440.0,55.50,0.0,548.00,687,0,0,3
225,295,11,790,6,0,0,1,19,144,4168,3703.50,1777.00,460.0,4.50,857.0,1100.00,240,0,0,4
874,1013,11,758,8,0,0,11,60,147,680,555.00,81.00,96.0,29.00,328.0,146.00,109,0,2,1
835,974,10,299,9,6,0,1,128,42,1160,1006.00,1138.00,128.0,26.00,8.0,150.50,92,0,2,1
965,1104,11,175,9,0,0,11,38,100,40,9.00,0.00,8.0,23.00,0.0,9.00,1,0,2,0
739,878,8,612,9,2,0,1,49,32,1680,1494.50,1408.00,112.0,73.50,0.0,102.50,834,0,2,1
71,86,8,239,6,7,0,1,45,26,4168,3388.00,2852.00,720.0,60.00,560.0,80.00,607,0,0,7
236,307,11,766,7,0,0,1,119,87,4168,3575.50,3310.00,556.0,36.50,0.0,528.00,788,1,0,3
1029,256,11,941,9,0,0,10,7,64,2088,1750.00,1610.00,296.0,42.00,32.0,217.50,773,0,1,4
1021,222,10,783,7,6,0,10,139,158,1936,1562.50,1277.00,336.0,37.50,0.0,353.00,574,0,1,4
428,546,10,987,8,8,0,1,117,12,4168,3630.50,3054.00,484.0,53.50,0.0,738.50,605,0,0,2
1073,443,4,624,9,2,0,10,49,150,416,416.00,48.00,0.0,0.00,0.0,400.00,85,0,1,3
851,990,10,690,9,6,0,1,31,137,880,695.50,644.00,112.0,72.50,0.0,63.50,789,0,2,1
363,474,8,970,9,2,0,1,91,135,4168,3895.00,3237.00,256.0,17.00,0.0,952.00,593,0,0,3
587,725,8,767,7,7,0,1,43,54,2920,2606.75,1989.75,264.0,49.25,0.0,617.00,486,0,0,2
314,405,11,1085,9,0,0,1,148,30,4168,3818.00,3064.00,348.0,2.00,0.0,754.00,542,0,0,3
713,852,10,662,8,6,0,1,83,112,1840,1688.00,1798.00,72.0,80.00,0.0,362.00,67,0,2,1
404,519,11,549,8,0,0,1,146,88,4168,3630.00,3912.00,500.0,38.00,0.0,270.50,75,0,0,2
376,488,10,671,8,6,0,1,139,53,4168,3848.00,2936.00,296.0,24.00,12.0,1057.50,484,0,0,3
143,182,8,392,7,2,0,7,32,28,3048,2760.00,2608.00,288.0,0.00,0.0,152.00,842,0,0,5
1008,157,10,88,8,8,0,10,68,174,2000,1783.00,1697.00,208.0,9.00,0.0,136.00,859,0,1,5
457,579,8,376,8,2,0,1,52,21,4120,3599.00,2940.00,448.0,73.00,0.0,738.00,573,0,0,2
141,180,8,262,7,2,0,1,32,28,4168,3715.25,2854.25,424.0,28.75,0.0,1363.00,498,0,0,5
931,1070,11,914,9,0,0,5,144,6,280,224.00,0.00,8.0,48.00,0.0,448.00,1,0,2,0
506,633,10,1104,9,6,0,7,138,31,2720,2354.00,2026.00,232.0,134.00,0.0,434.00,642,0,0,2
351,458,8,458,7,2,0,1,4,40,4168,3728.00,3224.00,416.0,24.00,0.0,536.00,650,0,0,3
39,46,8,619,7,2,0,1,61,82,2560,2212.00,1688.00,328.0,20.00,0.0,524.00,485,0,0,8
615,754,11,334,8,0,0,1,127,5,2360,1958.00,1142.00,296.0,106.00,0.0,824.50,316,1,0,1
446,567,11,707,7,0,0,1,74,21,4120,3755.50,2351.00,320.0,44.50,0.0,1632.50,348,0,0,2
182,236,13,718,9,2,0,7,49,109,2392,2312.00,2352.00,80.0,0.00,0.0,320.00,35,0,0,4
666,805,10,796,8,8,0,7,59,22,1520,1453.50,1437.00,40.0,26.50,120.0,82.00,943,0,2,1
1069,426,3,759,9,0,0,10,107,65,888,768.00,488.00,120.0,0.00,0.0,280.00,357,0,1,3
106,133,11,630,5,4,0,7,0,125,3456,3105.50,172.00,348.0,2.50,2934.0,85.50,259,0,0,6
840,979,10,997,9,6,0,1,83,42,1080,887.00,874.50,136.0,57.00,0.0,21.50,939,0,2,1
1096,596,3,1055,7,0,0,11,55,176,24,24.00,0.00,0.0,0.00,0.0,0.00,1,0,1,2
192,247,10,703,7,6,0,1,104,29,4168,3503.50,3422.00,528.0,136.50,8.0,197.00,919,0,0,4
302,389,10,1057,7,6,0,1,139,110,4168,3409.50,2440.50,648.0,110.50,224.0,1337.00,426,1,0,3
912,1051,11,543,9,4,0,11,36,90,360,346.50,176.00,8.0,5.50,0.0,170.50,268,0,2,0
1086,501,1,242,9,6,0,10,5,154,368,368.00,0.00,0.0,0.00,0.0,440.00,1,0,1,3
306,395,8,423,6,2,0,1,125,30,4168,3722.75,392.00,432.0,13.25,0.0,3355.75,5,0,0,3
455,577,10,339,8,6,0,1,142,21,4120,3795.00,3539.00,252.0,73.00,0.0,715.50,808,0,0,2
305,393,11,731,7,0,0,1,114,110,4168,3792.00,2888.00,360.0,16.00,0.0,1223.00,482,0,0,3
453,574,10,993,8,6,0,1,128,21,4120,3525.00,2805.00,491.0,104.00,40.0,814.00,533,0,0,2
639,778,11,381,7,0,0,7,55,99,2008,1761.00,1449.00,192.0,55.00,0.0,344.00,582,0,0,1
773,912,10,519,9,6,0,1,138,32,1640,1367.00,1396.00,144.0,129.00,0.0,150.50,41,0,2,1
797,936,11,19,9,0,0,1,127,121,1520,1319.50,1362.00,176.0,24.50,0.0,59.00,53,0,2,1
975,11,11,17,5,0,0,10,19,68,1616,1528.00,720.00,88.0,0.00,0.0,888.00,235,0,1,14
478,604,11,1034,8,0,0,1,107,111,3960,3448.00,2247.00,424.0,88.00,0.0,1225.00,373,1,0,2
546,681,10,1076,7,6,0,1,111,120,3640,3222.50,2875.50,372.0,45.50,0.0,403.00,704,1,0,2
77,95,10,816,6,6,0,1,121,124,4168,3740.00,3421.00,360.0,68.00,0.0,574.00,764,0,0,7
72,88,8,308,6,2,0,1,43,26,4168,3547.50,2246.50,576.0,44.50,0.0,1317.00,353,0,0,7
916,1055,11,565,9,0,0,11,140,6,320,272.00,80.00,24.0,24.00,0.0,192.00,156,0,2,0
1024,227,10,584,8,8,0,10,68,158,1768,1643.00,1784.00,104.0,21.00,0.0,93.00,78,0,1,4
648,787,11,178,9,1,0,1,90,99,2160,1952.00,1256.00,200.0,8.00,0.0,712.00,367,0,0,1
991,98,10,337,7,8,0,10,100,74,976,850.00,432.00,96.0,30.00,30.0,434.00,269,0,1,7
479,605,8,277,8,2,0,1,58,111,3960,3496.00,2922.00,416.0,48.00,0.0,597.00,601,0,0,2
14,19,3,250,4,0,0,7,19,102,4168,3700.00,378.50,468.0,0.00,20.0,3677.00,3,0,0,12
193,249,8,1021,7,2,0,1,11,29,4168,3504.00,3461.00,636.0,28.00,40.0,52.00,941,0,0,4
1026,246,10,1067,8,6,0,10,9,64,1968,1708.00,696.00,248.0,12.00,0.0,1057.00,203,0,1,4
217,285,10,433,9,6,0,7,20,52,3608,3064.50,2508.00,528.0,15.50,0.0,614.50,577,0,0,4
34,40,8,822,6,2,0,1,10,25,4168,3648.00,1976.03,496.0,24.00,0.0,2183.50,287,0,0,9
114,146,11,916,5,0,0,1,19,18,4168,3892.00,1674.00,276.0,0.00,356.0,1890.00,211,0,0,5
149,190,10,305,8,6,0,1,138,28,4168,3699.00,3319.00,424.0,45.00,56.0,428.00,719,0,0,5
389,504,10,6,8,6,0,1,128,145,4168,3667.50,3124.00,484.0,16.50,16.0,533.00,626,1,0,3
398,513,10,434,8,6,0,1,110,88,4168,3743.00,3486.00,368.0,57.00,0.0,470.00,803,0,0,2
1002,143,13,585,7,2,0,10,125,157,328,328.00,448.00,0.0,0.00,0.0,16.00,107,0,1,5
108,138,8,745,6,2,0,1,61,50,4168,3808.00,1711.00,352.0,8.00,0.0,2105.00,228,0,0,6
884,1023,8,72,0,7,0,11,42,147,600,544.00,520.00,32.0,24.00,0.0,24.00,868,0,2,1
525,656,8,713,8,2,0,1,37,31,3760,3237.00,2868.00,424.0,99.00,0.0,569.50,688,0,0,2
651,790,11,1054,6,0,0,1,151,16,1736,1553.00,934.00,144.0,39.00,0.0,626.00,329,0,2,7
1081,471,4,677,8,2,0,10,21,181,1528,1456.00,1328.00,72.0,0.00,0.0,144.00,757,0,1,3
868,1007,10,934,8,6,0,11,53,55,720,564.50,639.50,80.0,75.50,0.0,30.00,94,0,2,1
375,487,9,193,0,6,1,1,64,53,3128,2734.00,0.00,384.0,10.00,0.0,2830.00,1,1,0,3
784,923,11,160,8,0,0,1,81,32,1592,1433.00,912.00,120.0,39.00,0.0,529.00,360,0,2,1
331,429,8,437,7,7,0,1,134,30,4168,3829.00,3356.00,296.0,43.00,0.0,481.00,671,1,0,3
349,456,10,680,8,6,0,1,20,40,4168,3998.00,3625.00,83.5,86.50,0.0,610.00,740,1,0,3
281,365,8,1095,7,7,0,1,11,110,4168,3657.00,3561.00,480.0,31.00,0.0,119.00,910,1,0,3
1003,144,14,12,6,6,0,10,136,8,872,776.00,8.00,24.0,72.00,452.0,340.00,2,0,1,5
97,122,8,992,5,2,0,1,69,107,4168,3747.00,1844.00,412.0,9.00,140.0,1771.00,250,1,0,6
63,76,10,447,7,6,0,7,110,16,4168,3384.00,2201.50,704.0,80.00,121.0,1074.50,372,0,0,7
219,288,10,831,7,6,0,1,142,52,4168,3596.00,3174.00,544.0,28.00,24.0,500.00,681,1,0,4
329,427,11,218,8,0,0,1,13,30,4168,3636.00,4462.00,496.0,36.00,0.0,35.50,102,1,0,3
102,128,11,823,5,0,0,1,19,116,4168,3887.00,631.00,248.0,33.00,2639.5,687.50,119,0,0,6
20,25,3,849,4,3,0,1,19,81,4168,3654.50,1166.75,448.0,65.50,730.0,1870.75,167,0,0,11
753,892,11,201,9,0,0,1,15,32,1640,1477.00,1152.00,120.0,43.00,0.0,325.00,511,0,2,1
224,294,11,98,8,0,0,1,141,144,4168,4096.00,3973.50,64.0,8.00,0.0,165.50,902,0,0,4
779,918,10,254,9,6,0,1,128,32,1640,1460.00,1003.00,128.0,52.00,0.0,496.00,396,0,2,1
821,960,8,520,5,2,0,1,69,130,1352,1168.00,224.00,176.0,8.00,0.0,944.00,130,0,2,1
789,928,11,154,9,0,0,1,136,121,1520,1372.00,1056.00,96.0,52.00,0.0,412.00,500,0,2,1
324,420,11,9,8,3,0,1,33,30,4168,3713.00,3813.50,408.0,47.00,144.0,27.50,48,1,0,3
539,671,10,658,3,8,0,1,9,31,3680,3341.00,538.50,240.0,99.00,2702.0,120.00,118,1,0,2
863,1002,10,637,8,8,0,1,130,55,760,639.00,527.00,88.0,33.00,0.0,112.00,586,0,2,1
637,776,11,5,9,0,0,10,116,99,2240,1972.50,1662.00,192.0,75.50,0.0,705.50,609,0,0,1
443,564,11,237,8,4,0,1,36,21,4160,3919.00,2864.50,224.0,17.00,0.0,1078.50,443,1,0,2
387,502,10,295,7,6,0,1,83,145,4168,3631.50,3307.00,364.0,172.50,22.0,511.50,750,0,0,3
650,789,11,133,8,0,0,1,92,99,2120,1682.00,1554.00,400.0,38.00,0.0,218.00,787,0,0,1
659,798,11,117,8,0,0,1,84,21,1920,1696.00,1758.00,224.0,0.00,0.0,36.00,55,0,2,2
913,1052,11,989,6,0,0,11,151,90,360,325.50,21.00,8.0,26.50,0.0,308.50,325,0,2,0
323,418,8,795,7,2,0,1,136,30,4168,3784.00,3056.00,368.0,16.00,0.0,1108.00,554,0,0,3
208,270,8,725,8,2,0,1,27,29,4168,3737.75,3474.75,408.0,22.25,0.0,313.50,798,0,0,4
609,747,8,643,9,5,0,1,95,89,2480,1958.00,1060.00,506.0,16.00,0.0,958.00,286,0,0,1
410,526,11,548,7,4,0,1,115,88,4168,3634.00,1757.00,512.0,22.00,0.0,1885.00,244,0,0,2
717,856,11,386,9,0,0,1,29,112,1800,1660.00,1660.00,128.0,12.00,0.0,32.00,7,0,2,1
355,463,10,131,4,6,0,1,35,40,4168,3704.00,420.50,460.0,4.00,1680.5,1648.00,83,0,0,3
732,871,11,349,9,0,0,1,123,32,1680,1507.00,1518.00,112.0,61.00,0.0,191.00,22,0,2,1
471,595,8,113,8,2,0,10,65,111,4000,3414.75,2574.00,472.0,113.25,0.0,1305.50,473,0,0,2
359,467,11,137,6,0,0,1,86,135,4168,3921.50,1724.00,176.0,70.50,16.0,2349.50,220,0,0,3
51,61,10,546,5,6,0,1,35,35,4168,3800.00,2178.14,288.0,80.00,914.5,851.56,311,0,0,8
673,812,11,660,8,0,0,1,7,22,2040,1511.50,1139.00,444.0,84.50,0.0,472.00,472,0,2,1
986,85,8,1042,8,2,0,10,79,61,48,48.00,8.00,0.0,0.00,0.0,40.00,121,0,1,7
983,65,11,485,8,0,0,10,127,69,896,757.00,392.00,136.0,3.00,0.0,357.00,276,0,1,8
492,619,8,776,9,2,0,1,103,111,3840,3402.25,3440.00,352.0,85.75,0.0,70.00,28,0,0,2
400,515,8,1101,9,2,0,1,145,88,4168,3627.00,3340.00,504.0,37.00,0.0,384.00,776,0,0,2
496,623,11,820,8,0,0,1,150,31,3800,3311.50,3381.00,392.0,96.50,0.0,160.50,40,0,0,2
825,964,10,246,10,6,1,1,9,130,1280,1132.70,0.00,128.0,19.30,0.0,1131.70,1,0,2,1
417,533,11,773,8,0,0,1,140,12,4168,3883.00,3995.00,272.0,13.00,0.0,0.00,50,0,0,2
484,610,8,4,8,2,0,1,58,111,3960,3575.50,2714.00,312.0,72.50,0.0,890.50,479,0,0,2
391,506,8,450,8,2,0,1,37,88,4168,3641.75,2859.00,496.0,30.25,0.0,1453.00,518,0,0,2
1108,704,3,441,9,0,0,10,81,166,864,723.00,728.00,96.0,45.00,0.0,161.50,21,0,1,2
474,600,10,534,9,6,0,1,53,111,4000,3310.25,2611.00,552.0,137.75,10.0,783.00,524,0,0,2
611,749,8,215,9,2,0,1,87,89,2480,2171.00,1776.00,232.0,77.00,0.0,540.00,576,0,0,1
613,751,11,419,7,0,0,7,3,89,2248,2123.00,1580.00,72.0,53.00,201.0,723.00,459,0,0,1
984,74,8,89,7,2,0,10,10,167,272,224.00,168.00,48.0,0.00,0.0,72.00,468,0,1,7
803,942,8,1010,9,2,0,1,131,121,1480,1166.00,1172.00,276.0,38.00,0.0,55.00,16,0,2,1
1011,185,8,768,8,2,0,10,77,63,920,829.00,672.00,88.0,3.00,152.0,32.00,558,0,1,5
642,781,10,413,6,6,0,7,0,99,1600,1404.00,163.00,152.0,44.00,128.0,1113.00,86,0,0,1
307,396,11,132,9,1,0,7,102,30,3408,2963.00,2373.00,384.0,61.00,0.0,899.50,540,0,0,3
895,1034,11,268,8,0,0,11,107,90,480,408.00,408.00,40.0,32.00,0.0,0.00,7,0,2,0
384,498,10,976,5,6,0,10,35,145,4168,3839.50,264.00,268.0,60.50,412.0,3414.50,327,0,0,3
1037,281,14,760,7,2,0,10,94,180,1600,1352.00,1056.00,248.0,0.00,40.0,264.00,512,0,1,4
532,663,8,886,8,2,0,1,47,31,3720,3239.00,3042.00,400.0,81.00,0.0,415.00,825,0,0,2
346,450,11,503,9,0,0,7,129,128,3408,2858.30,2392.00,504.0,45.70,0.0,818.30,602,0,0,3
23,28,11,633,4,1,0,1,19,115,4168,3662.00,1600.50,408.0,98.00,610.0,1489.50,216,0,0,11
1077,453,3,676,6,0,0,10,136,150,1088,1032.00,860.00,56.0,0.00,172.0,0.00,598,0,1,3

In [93]:
fi_mod = logr.fit(final_train_x , final_train_y)

fi_pred = logr.predict(final_test_x)

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [94]:
from sklearn.metrics import confusion_matrix

tab1 = confusion_matrix(fi_pred, final_test_y)
tab1

array([[161,  23],
       [  4,  35]], dtype=int64)

In [95]:
tab1.diagonal().sum() * 100 / tab1.sum()

87.89237668161435

In [96]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [105]:
print(accuracy_score(final_test_y , fi_pred) )
print('-------------------','-------------------')
print(precision_score( fi_pred , final_test_y))

0.8789237668161435
------------------- -------------------
0.603448275862069

## Decision Tree Classifier

In [98]:
dtc.fit(final_train_x  ,final_train_y)

pred = dtc.predict(final_test_x)

tab2 = confusion_matrix(pred, final_test_y)
tab2

array([[164,   1],
       [  1,  57]], dtype=int64)

In [106]:
print(accuracy_score(final_test_y ,pred) )
print('-------------------','-------------------')
print(precision_score( fi_pred , final_test_y))

0.9910313901345291
------------------- -------------------
0.603448275862069

## Random Forest Classifier

In [100]:
rfc = RandomForestClassifier(n_estimators=150 , criterion='entropy')

In [101]:
rfc.fit(final_train_x  ,final_train_y)

rfc_pred = dtc.predict(final_test_x)

tab3 = confusion_matrix(rfc_pred, final_test_y)
tab3

array([[164,   1],
       [  1,  57]], dtype=int64)

In [102]:
print(accuracy_score(final_test_y , rfc_pred) )

0.9910313901345291

In [103]:
rfc.feature_importances_

array([1.11305693e-01, 1.69256162e-02, 1.47005457e-02, 8.06600400e-03,
       4.00767330e-03, 2.21856062e-04, 3.69147363e-01, 1.74146864e-02,
       4.96002520e-02, 1.07383921e-01, 6.54328370e-02, 3.30325233e-02,
       2.81541376e-02, 4.64513105e-02, 3.83554233e-03, 1.72705363e-02,
       1.26963493e-02, 6.69697134e-03, 3.82446044e-02, 4.94115774e-02])

In [104]:
feature_importances = pd.DataFrame({"Feature" : final_train_x.columns  , "Importance" : rfc.feature_importances_})

feature_importances.sort_values('Importance' , ascending = False)

                          Feature  Importance
6               Employee_Category    0.369147
0                     Employee_No    0.111306
9                     Total_Hours    0.107384
10          Total_Available_Hours    0.065433
8                       Join_Date    0.049600
19                         TENURE    0.049412
13                 Training_Hours    0.046451
18  EMPLOYEE_PRESENT_IN_BOTH_YEAR    0.038245
11                     Work_Hours    0.033033
12                    Leave_Hours    0.028154
7                 Supervisor_name    0.017415
15                       NC_Hours    0.017271
1                   Profit_Center    0.016926
2                   Employee_Name    0.014701
16                   Utilization%    0.012696
3               Employee_Position    0.008066
17                      promotion    0.006697
4               Employee_Location    0.004008
14                       BD_Hours    0.003836
5                    People_Group    0.000222