In [1]:
6-2

4

In [2]:
b=12

In [3]:
c=14
d=34

In [4]:
b

12

In [6]:
b
c
d

34

In [7]:
print(b)
print(c)
print(d)

12
14
34

In [6]:
name="Mr. a"
age=20
print("name is",name,"age is",age)

name is Mr. a age is 20

In [7]:
#delete a variable

In [8]:
name

'Mr. a'

In [9]:
del(name)

In [10]:
name

NameError: name 'name' is not defined

In [11]:
age==21

False

In [12]:
age>21

False

In [13]:
age<21

True

In [14]:
age!20

SyntaxError: invalid syntax (<ipython-input-14-a482ed3d9638>, line 1)

In [15]:
age!=20

False

In [16]:
age!=30

True

In [17]:
#variable(data types in python)
#1 Tuple
#2 List
#3 Dictionary
#4 Set

In [18]:
#Tuple(is one dimensional representation of data which can be of mixed type and it is IMMUTABLE )

In [19]:
first_tuple=(10,20,30,2,3,4,5,"pune")

In [20]:
first_tuple

(10, 20, 30, 2, 3, 4, 5, 'pune')

In [21]:
type(first_tuple)

tuple

In [22]:
first_tuple[0]

10

In [23]:
first_tuple[-1]

'pune'

In [24]:
len(first_tuple)#to get the count, similar to length function in R

8

In [25]:
first_tuple[2]=5555 #trying to replace 30 with 5555

TypeError: 'tuple' object does not support item assignment

In [29]:
t2=(5,5,7,10,20,20,20,30,45,30)
t2.count(20)

3

In [30]:
t2.index(7)

2

In [31]:
len(t2)

10

In [32]:
#list is a one dimensional representation of data which can be of mixed type and they are mutable

In [33]:
first_list=[10,20,30,2,3,4,5,"pune",10,"mumbai","pune"]

In [34]:
type(first_list)

list

In [35]:
first_list

[10, 20, 30, 2, 3, 4, 5, 'pune', 10, 'mumbai', 'pune']

In [36]:
{}#dictionary

{}

In [37]:
len(first_list)

11

In [39]:
first_list[7]

'pune'

In [40]:
first_list[7]="nashik"#list is mutable

In [41]:
first_list

[10, 20, 30, 2, 3, 4, 5, 'nashik', 10, 'mumbai', 'pune']

In [42]:
first_list.append("kolhapur")

In [43]:
first_list

[10, 20, 30, 2, 3, 4, 5, 'nashik', 10, 'mumbai', 'pune', 'kolhapur']

In [ ]:
first_list.

In [44]:
t2

(5, 5, 7, 10, 20, 20, 20, 30, 45, 30)

In [ ]:
first_list.

In [45]:
first_list.clear()

In [46]:
first_list

[]

In [47]:
l1 = [ 10 , 23,4,5,56,6,7, " data" , "science"]

In [50]:
l1.count(23)

1

In [51]:
l2=["class"]

In [52]:
l1.extend(l2)

In [53]:
l1

[10, 23, 4, 5, 56, 6, 7, ' data', 'science', 'class']

In [54]:
l3 = [ 10 , 23,4,5,56,6,7," data","science"]

In [55]:
l3.index(23)

1

In [56]:
l4=["python"]

In [57]:
l3.extend(l4)

In [58]:
l3

[10, 23, 4, 5, 56, 6, 7, ' data', 'science', 'python']

In [59]:
l3.pop()

'python'

In [60]:
l3

[10, 23, 4, 5, 56, 6, 7, ' data', 'science']

In [61]:
l5 = [5,6,7,9 , 100, 120, 20 , 20 , 20 , 31, 31,45]

In [62]:
l5.pop(4)

100

In [63]:
l5

[5, 6, 7, 9, 120, 20, 20, 20, 31, 31, 45]

In [64]:
l5 = [5,6,7,9 , 100, 120, 20 , 20 , 20 , 31, 31,45]

In [65]:
l5.remove(9)
l5

[5, 6, 7, 100, 120, 20, 20, 20, 31, 31, 45]

In [66]:
l5.remove(125)
l5

ValueError: list.remove(x): x not in list

In [67]:
l5.remove(20)

In [68]:
l5

[5, 6, 7, 100, 120, 20, 20, 31, 31, 45]

In [69]:
l5.reverse()

In [70]:
l5

[45, 31, 31, 20, 20, 120, 100, 7, 6, 5]

In [71]:
l5.sort()#sort the data in ascending order
l5

[5, 6, 7, 20, 20, 31, 31, 45, 100, 120]

In [73]:
l5.sort(reverse=True)
l5

[120, 100, 45, 31, 31, 20, 20, 7, 6, 5]

In [74]:
l6=[5,6,7,9,100,20,20,20,20,31,31,45]

In [75]:
l6

[5, 6, 7, 9, 100, 20, 20, 20, 20, 31, 31, 45]

In [76]:
l8=list([10,20,400,50,43,"data"])

In [77]:
type(l8)

list

In [78]:
aa=(10,30)
type(aa)

tuple

In [79]:
bb=list(aa)
bb

[10, 30]

In [80]:
type(bb)

list

In [81]:
#____________________-----------------------__________________

In [82]:
#dictionary  is used to store data in keyvalue format and it is also used to create a Data frame

In [83]:
dict1={"Name":"MrA","Salary":100,"Age":20}

In [84]:
dict1

{'Name': 'MrA', 'Salary': 100, 'Age': 20}

In [85]:
dict1.keys()

dict_keys(['Name', 'Salary', 'Age'])

In [86]:
dict1.values()

dict_values(['MrA', 100, 20])

In [87]:
type(dict1)

dict

In [88]:
emply_detail={"Name":("A","B","C","D","E","F"),
             "Age":(20,30,31,35,27,29),
             "Salary":(100,200,120,300,450,600)}

In [89]:
emply_detail.keys()

dict_keys(['Name', 'Age', 'Salary'])

In [91]:
emply_detail.values()

dict_values([('A', 'B', 'C', 'D', 'E', 'F'), (20, 30, 31, 35, 27, 29), (100, 200, 120, 300, 450, 600)])

In [92]:
import pandas as pd

In [93]:
df1=pd.DataFrame(emply_detail)

In [94]:
df1

  Name  Age  Salary
0    A   20     100
1    B   30     200
2    C   31     120
3    D   35     300
4    E   27     450
5    F   29     600

In [95]:
df2=pd.DataFrame()

In [96]:
df2

Empty DataFrame
Columns: []
Index: []

In [ ]:
Name=#[]

In [97]:
#--------

In [98]:
#Set is 1 dimentional representation of unique data where indexing is not possible

In [99]:
s1=set([10,20,30,30,"pune"])

In [100]:
s1[0]

TypeError: 'set' object is not subscriptable

In [101]:
lista=list(s1)

In [102]:
lista

['pune', 10, 20, 30]

In [103]:
s1

{10, 20, 30, 'pune'}

In [104]:
s1=set([10,20,30,30,"pune"])

In [105]:
list3=list(s1)

In [106]:
list3

['pune', 10, 20, 30]

In [107]:
#format printing

In [108]:
state="mh"
country="India"
print("he lives in state {} and country {}".format(state,country))

he lives in state mh and country India

In [109]:
print("he lives in state {} and country {}".format(country,state))

he lives in state India and country mh

In [110]:
print("he lives in state of", state)
print("this state is in country", country)

he lives in state of mh
this state is in country India

In [111]:
print("he lives in state of",state,end="")
print("this state is in country",country)

he lives in state of mhthis state is in country India

In [112]:
print("he lives in state of",state,"this state is in country",country)

he lives in state of mh this state is in country India

In [113]:
##input function is used to take the input from the user

num=input("number you wish to enter")

In [115]:
num

'234'

In [116]:
num+10

TypeError: can only concatenate str (not "int") to str

In [117]:
type(num)

str

In [118]:
num + 10

TypeError: can only concatenate str (not "int") to str

In [119]:
#problem with input is that it stores all the data in string format

In [ ]:
num=input("number you wish to enter")